.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #efefef;
    margin: 0;
}

hr {
    border: none;
    border-bottom: 1px solid #eeeeee;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h2 {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

.banner {
    height: 515px;
    background: url(./img/banner-background.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgb(0, 0, 0, 0.8);
}

.top-nav {
    padding: 24px 0;
    position: fixed;
    width: 100%;
}

.top-nav-inner {
    margin-left: 14.5px;
    margin-right: 14.5px;
}

.top-nav .logo {
    float: left;
}

.top-nav nav {
    float: right;
}

.top-nav nav > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.top-nav nav > ul > li {
    float: left;
    margin-left: 16px;
    margin-right: 16px;
}

.top-nav nav > ul > li > a {
    font-size: 12px;
    color: #B7B7B7;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 8px;
    display: block;
    border-bottom: solid 2px transparent;
    border-top: solid 2px transparent;
}

.top-nav nav > ul > li > a:hover {
    border-bottom: solid 2px #e6686d;
}

.top-nav a {
    text-decoration: none;
}

.top-nav .logo {
    font-size: 26px;
    font-family: 'Arial Black';
}

.top-nav .logo .rs {
    color: #e6686d;
    margin: 0;
}

.top-nav .logo .card {
    color: #9a9da2;
}

.profile-card {
    max-width: 930px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    margin-top: -344px;
    /*立体效果*/
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);

}

.profile-card .picture {
    float: left;
}

.profile-card .info {
    float: left;
    margin-left: 62px;
    width: 440px;
}

.profile-card-inner {
    padding: 57px 50px;

}

.info .welcome {
    background-color: #e6686d;
    font-size: 14px;
    font-weight: bold;
    color: #fff; /*left 13.5px top: 10px*/
    padding: 5px 13.5px;
    line-height: 22px;
    display: inline-block;
    position: relative;
}

.info .triangle {
    border: solid 10px transparent;
    width: 0px;
    height: 0px;
    border-left-color: #e6686d;
    border-top-width: 0px;
    display: block;
    position: absolute;
    top: 100%;
    left: 4px;
}

.profile-card .info h1 {
    margin-top: 27px;
    margin-bottom: 8px;
}

.profile-card .info hr {
    margin: 20px 0;
}

.profile-card .info dl dd,
.profile-card .info dl dt {
    float: left;
}

.profile-card .info dl dt {
    width: 30%;
    font-weight: bold;
    margin: 10px 0;

}

.profile-card .info dl dd {
    width: 70%;
    color: #9da0a7;
    margin: 10px 0;
}

.profile-card .media {
    background-color: #e6686d;
    text-align: center;
}

.profile-card footer a {
    display: inline-block;
    width: 25px;
    line-height: 15px;
    padding: 10px;
    border-radius: 50%;
    margin: 8px;
}

.profile-card footer a:hover {
    background-color: #cf5d62;
}

.profile-card footer svg {
    fill: white;
    width: 25px;
    height: 25px;

    /* 图标水平居中，防止上窄下宽 */
    vertical-align: top;
}

.down-button-wrapper {
    text-align: center;
    margin: 50px auto;

}

.down-button {
    border: solid 1px #dddedf;
    padding: 20px 56px;
    color: #3d4451;
    font-weight: bold;

}

.down-button:hover {
    /* 设置渐变以及渐变过渡时间 */
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.4s;
}

.self-introduction {
    max-width: 930px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: kai, "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
    line-height: 1.8;
    font-size: 20px;
}

section h2 {
    margin-bottom: 30px;
    margin-top: 85px;
}

section.skills,
section.portfilo {
    max-width: 930px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

section.skills .contenter {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #cacaca;
}

section.skills .contenter ol {
    margin: 36px 50px 10px;
}

section.skills .contenter ol li {
    float: left;
    width: 47%;
    box-sizing: border-box;

}

section.skills .contenter ol li:nth-child(even) {
    float: right;

}

section.skills .contenter ol li .progress-bar {
    height: 5px;
    border-radius: 4px;
    background-color: #fae1e2;
    margin-top: 4px;
    margin-bottom: 35px;
}

section.skills .contenter ol li .progress-bar .progress {
    height: 5px;
    background-color: #e6696e;
    border-radius: 4px;
}

section.portfilo {
    text-align: center;
}

section.portfilo nav {
    display: inline-block;
    vertical-align: top;
}

section.portfilo ol {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

section.portfilo ol li {
    float: left;
    margin-left: 60px;
    cursor: pointer;

}

section.portfilo ol li:first-child {
    margin-left: 0;
}

section.portfilo nav .bar {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}

section.portfilo nav .bar .bar-inner {
    transition: all 0.3s;
}

section.portfilo nav .bar.state1 .bar-inner {
    height: 100%;
    width: 50px;
    margin-left: 0;
    background-color: #e46a70;
    border-radius: 3px;
}

section.portfilo nav .bar.state2 .bar-inner {
    height: 100%;
    width: 115px;
    margin-left: 82.1px;
    background-color: #e46a70;
    border-radius: 3px;
}

section.portfilo nav .bar.state3 .bar-inner {
    height: 100%;
    width: 53px;
    margin-left: 232px;
    background-color: #e46a70;
    border-radius: 3px;
}

section.portfilo .works {
    width: 921px;
    height: 576px;
    position: relative;
    margin-top: 30px;

}

section.portfilo .works .big,
section.portfilo .works .small {
    position: absolute;
    border: 1px solid #cacaca;
    /*去掉添加border后空白bug*/
    /*font-size: 0;*/
}

/*去掉添加border后空白bug*/
section.portfilo .works img {
    display: block;
}


