.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

body{
    background-color: #efefef;
    margin: 0;
}

.banner{
    height: 515px;
    background:url(./img/banner-background.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask{
    height: 515px;
    background-color: rgb(0, 0, 0, 0.8);
}

.top-nav{
    padding: 24px 0;
    position: fixed;
    width: 100%;
}

.top-nav-inner{
    margin-left:14.5px;
}

.top-nav  .logo {
    float: left;
}

.top-nav  nav{
    float: right;
}

.top-nav  nav > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.top-nav  nav > ul > li{
    float: left;
    margin-left: 16px;
    margin-right: 16px;
}

.top-nav  nav > ul > li > a{
    font-size: 12px;
    color: #B7B7B7;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 8px;
    display: block;
    border-bottom: solid 2px transparent;
    border-top: solid 2px transparent;
}

.top-nav  nav > ul > li > a:hover{
    border-bottom: solid 2px #e6686d;
}

.top-nav  a{
    text-decoration: none;
}

.top-nav .logo{
    font-size: 26px;
    font-family: 'Arial Black';
}
.top-nav .logo .rs{
    color: #e6686d; 
    margin: 0;  
}
.top-nav .logo .card{
    color: #9a9da2;
}
